.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #FFF;
  max-width: 450px;
  width: 100%;
  max-height: 550px;
  height: 100%;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #fff;
  font-family: sans-serif;
  letter-spacing: 1px;
  .form-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input {
      font-family: sans-serif;
      letter-spacing: 1px;
      font-size: 30px;
      width: 100%;
      padding: 0 0 10px 0;
      border: none;
      border-bottom: 1px solid #e0e0e0;
      background-color: transparent;
      outline: none;
      transition: 0.3s;
      &:focus {
        border-bottom: 1px solid #FF3C7B;
      }
    }
    textarea {
      min-width: 400px;
    }
    .error-message {
      color: #FF3C7B;
    }
  }
  .button-contact-form {
    letter-spacing: 1px;
    font-size: 35px;
    color: #fff;
    background-color: #F5167E;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 200px;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 4px 16px #ccc;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: rgba(85,34,204,100);
    }
    &:focus {
      background-color: rgba(85,34,204,100);
    }
  }
}