.event {
  margin: 0 auto;
  max-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #ED4690;
  img {
    max-width: 640px;
    width: 100%;
    max-height: 427px;
    height: 100%;
  }
}
.eventInfo {
  border: 2px solid #ED4690;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  h2 {
    font-family: 'DM Sans';
    font-size: 50px;
    font-weight: 700;
    color: #1f2129;
    &:hover {
      color: rgba(85,34,204,100);
    }
  }
  h3 {
    font-family: 'DM Sans';
    font-size: 30px;
    color: #1f2129;
    font-weight: 500;
    line-height: 1.2;
    &:hover {
      color: rgba(85,34,204,100);
    }
  }
  p {
    font-family: 'DM Sans';
    font-size: 30px;
    color: #1f2129;
    font-weight: 700;
    line-height: 1.2;
    &:hover {
      color: rgba(85,34,204,100);
    }
  }
  .btnBuy {
    letter-spacing: 1px;
    font-size: 15px;
    color: #fff;
    background-color: #F5167E;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 130px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    padding: 10px 20px;
    box-shadow: 0 4px 16px #ccc;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: rgba(85,34,204,100);
    }
    &:focus {
      background-color: rgba(85,34,204,100);
    }
    a {
      font-family: 'DM Sans';
      color: #fff;
      text-decoration: none;
    }
  }
  .like {
    display: none;
  }
}

