.event {
  min-height: 740px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(./imgHome.png);
  background-repeat: no-repeat;
  background-size: cover;
  gap: 100px;
  img {
    margin-top: 50px;
    width: 640px;
    height: 427px;
  }
}
.eventInfo {
  margin-top: 90px;
  h2 {
    font-family: 'DM Sans';
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #1f2129;
    padding-top: 35px;
    &:hover {
      color: #ffd700;
    }
  }
  h3 {
    font-family: 'DM Sans';
    font-size: 30px;
    color: #1f2129;
    font-weight: 500;
    margin-bottom: 35px;
    line-height: 1.2;
    &:hover {
      color: #ffd700;
    }
  }
  p {
    font-family: 'DM Sans';
    font-size: 30px;
    color: #1f2129;
    font-weight: 700;
    margin-bottom: 35px;
    line-height: 1.2;
    &:hover {
      color: #ffd700;
    }
  }
  .btnBuy {
    background: linear-gradient(119deg, #ED4690 -2.11%, #52C 63.58%);
    font-size: 15px;
    font-weight: 700;
    padding: 1em;
    display: block;
    text-transform: uppercase;
    transition: background .2s ease;
    text-align: center;
    line-height: 1.2;
    border-radius: 5px;
    width: 200px;
    &:hover {
      color: #ffd700;
    }
    a {
      font-family: 'DM Sans';
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #ffd700;
      }
    }
  }
}
