.event {
  min-height: 740px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 100px;
  img {
    margin-top: 50px;
    width: 640px;
    height: 427px;
  }
}
.eventInfo {
  margin-top: 90px;
  h2 {
    font-family: 'DM Sans';
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #1f2129;
    padding-top: 35px;
    &:hover {
      color: rgba(85,34,204,100);
    }
  }
  h3 {
    font-family: 'DM Sans';
    font-size: 30px;
    color: #1f2129;
    font-weight: 500;
    margin-bottom: 35px;
    line-height: 1.2;
    &:hover {
      color: rgba(85,34,204,100);
    }
  }
  p {
    font-family: 'DM Sans';
    font-size: 30px;
    color: #1f2129;
    font-weight: 700;
    margin-bottom: 35px;
    line-height: 1.2;
    &:hover {
      color: rgba(85,34,204,100);
    }
  }
  .btnBuy {
    letter-spacing: 1px;
    font-size: 35px;
    color: #fff;
    background-color: #F5167E;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    min-width: 50px;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 4px 16px #ccc;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: rgba(85,34,204,100);
    }
    &:focus {
      background-color: rgba(85,34,204,100);
    }
    a {
      font-family: 'DM Sans';
      color: #fff;
      text-decoration: none;
    }
  }
}
