.events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    .event {
        display: flex;
        border: 5px solid black;
        border-radius: 2%;
        a {
            text-decoration: none;
        }
        p {
            text-decoration: unset;
            color: #424242;
            font-family: 'DM Sans';
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        h2 {
            color: #424242;
            font-family: 'DM Sans';
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        h3 {
            color: #424242;
            font-family: 'DM Sans';
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal; 
        }
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    .form-items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        input {
            border: 1px solid red;
            border-radius: 5px;
        }
        button {
            color: #fff;
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-radius: 50px;
            border: 1.5px solid #FFF;
            background: linear-gradient(119deg, #ED4690 -2.11%, #52C 63.58%);
            width: 101px;
            padding: 10px 20px;
        }
    }
}