@font-face {
    font-family: 'icons';
    src:  url('./fonts/icons.eot');
    src:  url('./fonts/icons.eot') format('embedded-opentype'),
      url('./fonts/icons.ttf') format('truetype'),
      url('./fonts/icons.woff') format('woff'),
      url('./fonts/icons.svg') format('svg');
  }
  footer {
    background: #0A075F;
    .footer-items {
        display: flex;
        background: #0A075F;
        min-height: 160px;
        height: 100%;
        padding: 33px 84px;
        gap: 50px;
        .logo {
            img {
                width: 200px;
                height: 50px;
            }
            p {
                color: #FFF;
                font-family: DM Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 27px;
                margin-top: 14px;
                margin-bottom: 14px;
                width: 532px;
            }
        }
        .footer_social_medias {
            margin-top: 30px;
            a {
                text-decoration: unset;
                color: #F5167E;;
                font-size: 50px;
                &:nth-child(2) {
                    margin-left: 20px;
                }
                &:nth-child(3) {
                    margin-left: 20px;
                }
            }
        }
        .footer_links {
            display: flex;
            flex-direction: row;
            max-width: 592px;
            width: 100%;
            }
            nav {
                ul {
                    display: inline-block;
                    column-count: 2;
                    min-width: 400px;
                    gap: 50px;
                    li {
                        margin-bottom: 30px;
                        a {
                            text-decoration: unset;
                            color: #F3F3F3;
                            font-family: DM Sans;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 200%;
                            &.active {
                                color: #F5167E;
                            }
                        }
                        .links {
                            display: flex;
                            flex-direction: column;
                            margin-top: 21px;
                            gap: 12px;
                            a {
                                color: #FFF;
                                font-family: DM Sans;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                min-width: 140px;
                                &.active {
                                    color: black;
                                }
    
                            }
                        }
                        }
                    }
                }
                .buttonForm {
                    h2 {
                        color: #FFF;
                        font-family: DM Sans;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        text-transform: capitalize;
                        margin-bottom: 24px;
                    }
                    p {
                        color: #F3F3F3;
                        font-family: DM Sans;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%;
                        margin-bottom: 20px;
                    }
                    .buttonFooter {
                        margin-top: 30px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 350px;
                        height: 60px;
                        border-radius: 50px;
                        border: 2px solid #F1F1F1;
                        background: #FFF;
                        color: #959595;
                        font-family: DM Sans;
                        font-size: 12.159px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        input {
                            margin-left: 15px;
                            border: none;
                            outline: none;
                        }
                        .button {
                            border: 1px solid #F5167E;
                            border-radius: 50px;
                            background: #F5167E;
                            box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
                            color: #FFF;
                            font-family: DM Sans;
                            font-size: 12.159px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.79px;
                            display: inline-flex;
                            padding: 15.198px 30.397px;
                            justify-content: center;
                            align-items: center;
                            gap: 7.599px;
                        }
                    }
            }
        }
        .copyright {
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                color: #F5167E;
                margin-bottom: 10px;
                a {
                    text-decoration: none;
                }
            }
        }
  }