.homeSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 720px;
    background-image: url(./imgHome.png);
    background-repeat: no-repeat;
    background-size: cover;
}