@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  background: #E4E4E4;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #E4E4E4;

  .form {
    min-height: 590px;
    height: auto;
    max-width: 570px;
    width: 100%;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 35px 0 35px;
    border-radius: 10px;
    gap: 20px;
  }
  .form_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  h1 {
    color: #1C1C1C;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 20px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 7px;

  .email {
    display: flex;
    width: 500px;
    height: 38px;
    justify-content: center;
    align-items: center;

    p {
      width: 500px;
      color: #969696;
      font-family: Roboto;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.1px;
    }
  }
}

input, select {
  padding-left: 10px;
  display: flex;
  width: 245px;
  box-sizing: border-box;
  height: 38px;
  justify-content: center;
  align-items: center;
  color: #545454;
  border: 1px solid #545454;
  border-radius: 5px;

  &:focus {
    border: 1px solid #007BFF;
    outline: unset;
  }

  &::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: #545454;
  }
}

select {
  appearance: none;
  padding-left: 10px;
  display: flex;
  width: 100%;
  height: 38px;
  justify-content: center;
  align-items: center;
  color: #545454;
  border: 1px solid #545454;
  border-radius: 5px;

  &:focus {
    border: 1px solid #007BFF;
  }

  &::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: #545454;
  }
}

.select-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 245px;

  select {
    color: #545454;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.2px;
  }

  img {
    position: absolute;
    right: 5px;
  }
}

.radio {
  justify-content: flex-start;
  gap: 5px;

  label {
    flex-direction: row;
    position: relative;
  }

  input {
    width: 20px;
    height: 20px;
    opacity: 0;

    &:checked + div {
      border: 4px solid #007BFF;
    }
  }

  .check {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
  }
}

.btn {
  width: 500px;
  height: 38px;
  background: #007BFF;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.1px;
  border: 1px solid #007BFF;
  border-radius: 5px;
  margin-top: 20px;
}

.privacy {
  margin-bottom: 41px;

  .account {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    max-width: 395px;
    width: 100%;
    color: #969696;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.1px;

  }

  a {
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.1px;
    text-decoration: unset;
  }

  .link {
    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
      background: #E4E4E4;
      width: 500px;
      height: 1px;
    }
  }
}

.havent {
  width: 116px;
  height: 22px;
  color: #545454;
  text-align: right;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
  text-decoration: unset;
}

.login {
  width: 41px;
  height: 22px;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.1px;
  text-decoration: unset;
  color: #007BFF;
}

.profile {
  .input {
    position: relative;
  }

  .img_inpute_profile {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 16px;
    height: 16px;
  }

  .img {
    width: 16px;
    height: 16px;
  }

  button {
    display: flex;
    align-items: center;
  }

  p {
    color: #969696;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.1px;
  }

  display: grid;
  grid-template-columns: 80px 138px 30px;
  grid-template-rows: 40px 40px;
  gap: 10px;
  grid-template-areas: "photo input button"
                           "photo text text";
}

.profile img {
  grid-area: photo;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile input {
  grid-area: input;
  width: 100%;
  box-sizing: border-box;
}

.profile button {
  grid-area: button;
}

.profile p {
  grid-area: text;
}

.btnprofile {
  display: flex;
  width: 150px;
  height: 38px;
  justify-content: center;
  align-items: center;
  background-color: #007BFF;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; 
  letter-spacing: -0.1px;
  border: 1px solid #007BFF;
  border-radius: 5px;
}

